<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juju.mall.mapper.BaseAttrInfoMapper">

    <resultMap id="BaseAttrInfoMap" type="com.juju.mall.entity.BaseAttrInfo">
        <id column="id" property="id"></id>
        <result column="attr_name" property="attrName"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="category_level" property="categoryLevel"></result>
        <collection property="attrValueList" column="id" ofType="com.juju.mall.entity.BaseAttrValue"
                    select="com.juju.mall.mapper.BaseAttrValueMapper.getAttrValueList"></collection>
    </resultMap>

    <select id="selectAttrS" resultMap="BaseAttrInfoMap">
        select * from base_attr_info bai where
        bai.category_id = #{categoryId}
    </select>
    <select id="selectBaseAttrInfoListBySkuId" resultMap="selectBaseAttrInfoListBySkuIdMap">
        SELECT
            bai.id,
            bai.attr_name,
            bai.category_id,
            bai.category_level,
            bav.id attr_value_id,
            bav.value_name AS attr_value,
            bav.attr_id
            FROM
                base_attr_info bai
                INNER JOIN base_attr_value bav ON bai.id = bav.attr_id
                INNER JOIN sku_attr_value sav ON sav.value_id = bav.id
            WHERE
                sav.sku_id = #{skuId}
    </select>

    <resultMap id="selectBaseAttrInfoListBySkuIdMap" type="com.juju.mall.list.SearchAttr" autoMapping="true"></resultMap>

</mapper>
